version: '2.0'
services:
  train-and-eval:
    image: pytorch-tutorial-docker:v1
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - type: bind
        source: ./result
        target: /ws/result